# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Waypoint
waypoint

# Terraform
vars.auto.tfvars
.terraform*
*tfstate*